headerHigh = 4rem
mainMaxWidth = 50rem
backgroundColor = #f8f8f8
gradientStart = #ff4b1f
gradientEnd = #f7d788
loadingIndicatorColor = invert(gradientStart)
headerColor = darken(backgroundColor, 10%)
primaryTextColor = #0f0f0f
secondaryTextColor = lighten(primaryTextColor,35%)
