headerHigh = 4rem
mainMaxWidth = 50rem
backgroundColor = #f8f8f8
dayBackgroundColor = white
gradientStart = #ff4b1f
gradientEnd = #f7d788
loadingIndicatorColor = invert(gradientStart)
highlightColor = invert(gradientStart)
headerColor = loadingIndicatorColor
primaryTextColor = #0f0f0f
secondaryTextColor = #443d3d
firstTypeLessonColor = gray
secondTypeLessonColor = gray
thirdTypeLessonColor = gray
mobile-edge = 700px
